name: job-app-manager

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: cs222-backend
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./backend:/app:cached
      - sqlite_data:/app/db
    # env_file:
    #   - ./.env
    ports:
      - "8000:8000"
    networks:
      - app-net

  frontend:
    build:
      context: ./frontend/vite-project
      dockerfile: ../Dockerfile
    container_name: cs222-frontend
    command: >
      sh -c "
      npm install &&
      npm run dev -- --host 0.0.0.0 --port 5173
      "
    working_dir: /app
    volumes:
      - ./frontend/vite-project:/app:cached
      - /app/node_modules
    environment:
      - VITE_API_BASE=http://backend:8000
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-net

volumes:
  sqlite_data:

networks:
  app-net:
    driver: bridge